<h1>Select a language to view developer jobs:</h1>
<% counter = 0 %>
<% @languages.each do |language| %>
  <%= counter += 1 %>. <%= link_to language.lang_name, "/jobs/results/?language=#{language.lang_name}&page=1" %><br>
<% end %>
