<h1>Most Common Programming Languages of Today</h1>

<% @languages.each do |language| %>
<h3> <%= link_to language.lang_name, language %>  </h3>
<ul><%= language.description %> </ul>
<% end %>


<style>
  ul {
    font-size: 25px;
    font-family: "Times New Roman";
    font-weight: bold;
  }
  body {
    background-image: url("http://www.ifmanyc.org/wp-content/uploads/2014/11/East_River_8x10-5_RGB-wmark.jpg");
  }

</style>
