<h1>Welcome to the show page of <%= @user.name %></h1>

<% if session[:user_id] && session[:user_id] == @user.id %>
  <h1>Welcome <%= @user.name %>! </h1>
  <% end %>

<h2>Your Languages</h2>
 <% @user.languages.each do |l| %>
 <li><%= l.lang_name%></li>
 <% end  %>
