<h1> Welcome to the Career Guidance App! </h1>
<h3> Mission Statement: To enable the pursuit of a better life through education</h3>
<h3>
  <img src="http://s3.amazonaws.com/learneroo-images/main/PickingaProgrammingLangauge.png" alt="it was supposed to work." width="900" height="700" class="center">
</h3>

<h2>  Where to start? </h2>
<h2>
<img src="https://4d0850cecf2c5ce919d5-17b283ac00835b5ced4db83c898330a1.ssl.cf1.rackcdn.com/17684813_my-journey-of-learning-programming_c824071e_m.png?bg=295558" alt= "Flatiron School Mission Statement.">
</h2>

<h1> <%= link_to "Start Here", new_user_path %> </h1>
<h1>Returning User? <%= link_to "Login", login_path %> </h1>
