<h1> Welcome to the Career Guidance App! </h1>
<h3> Mission Statement: </h3>


<h2>  Where to start? </h2>
<h2>
<img src="http://s3.amazonaws.com/learneroo-images/main/PickingaProgrammingLangauge.png" alt="it was supposed to work." width="900" height="700" class="center">
</h2>

<h1> <%= link_to "Start Here", new_user_path %> </h1>
<h1>Returning User? <%= link_to "Login", login_path %> </h1>
